* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.MenuDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;

  margin: 20px auto;
  .Menu {
    margin: 40px 20px 40px 50px;
    text-align: center;
    width: 25%;

    img {
      border-radius: 50%;
      background-color: rgb(32, 56, 39);
      width: 190px;
      &:hover {
        padding: 10px;
        cursor: pointer;
      }
    }
    .PlusMinusButtons {
      display: flex;
      text-align: center;

      .Para {
        overflow-y: hidden;
        word-break: keep-all;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        color: rgb(51, 40, 40);
        background-color: rgb(192, 192, 192);
        border: 1px black solid;
        box-shadow: 0px 0px 5px 5px rgb(85, 68, 68);
        border-radius: 50%;
        p {
          margin: 10px;
          cursor: pointer;
        }
      }
      .ButtonMinusPlus {
        height: fit-content;

        margin-top: 36%;
        .Btn {
          cursor: pointer;
          background-color: green;
          color: white;
          height: fit-content;
          padding: 10px;
          margin: 0px 4px 0px 2px;
          border-radius: 50%;
        }
      }
    }
    .Add-Item {
      display: flex;
      width: 300px;
      background-color: rgba(0, 0, 0, 0.918);
      margin-top: 5px;
      border-radius: 10px;
      justify-content: space-between;
      h4 {
        text-align: start;
        color: white;
        margin-top: 20px;
      }
      .Btn-checkout {
        cursor: pointer;
        padding: 4px;
        background-color: green;
        color: rgb(0, 0, 0);
      }
      h2 {
        text-align: start;
        margin: 20px;
        color: white;
      }
    }
  }
}
.menu img {
}
.menu img :hover {
}
