* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.Navbar {
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(22, 22, 22);
  height: 100px;

  a:hover {
    text-decoration: underline;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    h4 {
      color: red;
      margin: 0px 5px;
    }
  }

  .basketIcon {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    span {
      color: rgb(214, 41, 41);
      margin: 0px 15px 0px;
    }
  }
}
ul {
  display: flex;
  margin: 20px;
  button {
    font-size: 1.4rem;
    padding: 10px 15px;
    margin: 6px;
    border-radius: 20px;
    background-color: white;
    &:hover {
      background-color: rgba(112, 185, 53, 0.918);
    }
  }
  .Join {
    background-color: black;
    color: white;
  }
}
li {
  margin: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  :hover {
    color: green;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.active {
  background-image: linear-gradient(
    to right,
    #3a3535 0%,
    #f10f0f 51%,
    #4b4247 100%
  );

  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}
