.joinContainer {
  .joinForm {
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border-top: 1px black solid;

    h1 {
      text-align: center;
      padding: 15px;
    }
    label {
      margin: 0px;
    }
  }
  input,
  textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #c91c1c;
    outline: none;
  }
  input::placeholder {
    color: #666;
  }
}
